*{
    margin: 0;
    padding: 0;
}
#seasonElements2223{
    background-image: linear-gradient( rgb(177, 44, 44) , rgb(141, 121, 125));
}
.CR2223Rounds{
    font-weight: 800;
}
.EPO2223Round{
    font-weight: 800;
}
.LI2223TeamResults{
    font-weight: 800;
}
.CR2223TeamResults{
    font-weight: 800;
}
.UCHL2223Rounds{
    font-weight: 800;
}
.UECL2223TeamResults{
    font-weight: 800;
}
.UECL2223Rounds{
    font-weight: 800;
}
.pageBackground2223{
    background-image: linear-gradient(to right, rgb(177, 44, 44) , rgb(141, 121, 125));
}
.ChampionshipTable2223{
    height: 50%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.CupTable2223{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.EuropeanPlayoffTable2223{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.UefaChampLeagueTable2223{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;

}
.UefaEuropaConferenceLeagueTable2223{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
#ligaI2223button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#ligaI2223button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#ligaI2223button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}

#ligaI2223text{
    color:aliceblue;
    font-size: 20px;
}

#cupaRomaniei2223button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#cupaRomaniei2223button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#cupaRomaniei2223button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#cupaRomaniei2223text{
    color:aliceblue;
    font-size: 20px;
}

#europeanPlayoff2223button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#europeanPlayoff2223button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#europeanPlayoff2223button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#europeanPlayoff2223text{
    color:aliceblue;
    font-size: 20px;
}
#uefaChampionsLeague2223button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaChampionsLeague2223button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaChampionsLeague2223button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#uefaChampionsLeague2223text{
    color:aliceblue;
    font-size: 20px;
}
#uefaEuropaConferenceLeague2223button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaEuropaConferenceLeague2223button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaEuropaConferenceLeague2223button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#uefaEuropaConferenceLeague2223text{
    color:aliceblue;
    font-size: 20px;
}
#seasonElements2223{
    display: flex;
    flex-direction: row;
}

#competitionsTable2223{
    display: flex;
    flex-direction: column;
}
#chooseCompetition2223Message{
    background-color: cadetblue;
    font-size: 30px;
    border: #1f1717;
    border-style:outset;
    margin-left: 0;
    height: 1cm;
    width: auto;
}
table, th, tr, td{
    background-color: white;
    border: 1px solid blue;
    border-collapse: collapse;
}
#LigaI2223MainRoundTable{
    width: 30%;
    position:absolute;
    border-width: 1px;
}
#LigaI2223PlayOffTable{
    width: 30%;
    position: absolute;
    border-width: 1px;
}
#CupaRomaniei2223Table{
    width: 30%;
    position:absolute;
    border-width: 1px;
}
#EuropeanPlayOff2223Table{
    width: 30%;
    position: absolute;
    border-width: 1px;
}
#UCHL2223Table{
    width: 30%;
    position: absolute;
    border-width: 1px;
}
#UECL2223Table{
    width: 30%;
    position: absolute;
    border-width: 1px;
}
#LigaI2223MainRoundResultsButton{
    margin-left: 0cm;
    width: 40%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#LigaI2223MainRoundResultsButton:hover{
    cursor: pointer;
}
#LigaI2223PlayOffResultsButton{
    margin-left: 0cm;
    width: 40%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#LigaI2223PlayOffResultsButton:hover{
    cursor: pointer;
}
#buttonText{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#buttonTextCupaRomaniei2223{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#CupaRomaniei2223ResultsButton{
    margin-left: 0cm;
    width: 55%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#CupaRomaniei2223ResultsButton:hover{
    cursor: pointer;
}
#EuropeanPlayOff2223ResultsButton{
    margin-left: 0cm;
    width: 55%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#EuropeanPlayOff2223ResultsButton:hover{
    cursor: pointer;
}
#UCHL2223ResultsButton{
    margin-left: 0cm;
    width: 65%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#UCHL2223ResultsButton:hover{
    cursor: pointer;
}
#UECL2223ResultsButton{
    margin-left: 0cm;
    width: 70%;
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
}
#UECL2223ResultsButton:hover{
    cursor: pointer;
}
#season2223buttons{
    margin-top: 0.5cm;
    background-color: #514e72;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 15cm;
    width: 28%;
    margin-left: 1cm;
    display: flex;
    flex-direction: column;
}
#competitionsTable2223{
    margin-top: 0.5cm;
    background-color: grey;
    margin-left: 1cm;
    width: 60%;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}
#RelegatedTeamsDropdown2223Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#RelegatedDropdown2223Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
#PromotedTeamsDropdown2324Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#PromotedDropdown2324Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
/* Competitions buttons container and competitons results presentation container resizing */
@media screen and (max-width: 800px){
    #seasonElements2223{
        flex-direction: column;
    }
}

/* Choose competition message resizing */
@media screen and (max-width: 585px){
    #chooseCompetition2223Message{
        height: 2cm;
    }
}
@media screen and (max-width: 305px){
    #chooseCompetition2223Message{
        height: 3cm;
    }
}


/* Competitions names from buttons resizing */
@media screen and (max-width: 965px){
    #ligaI2223text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #ligaI2223text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #ligaI2223text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #ligaI2223text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #cupaRomaniei2223text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #cupaRomaniei2223text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #cupaRomaniei2223text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #cupaRomaniei2223text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px) {
    #europeanPlayoff2223text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px) {
    #europeanPlayoff2223text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px) {
    #europeanPlayoff2223text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px) {
    #europeanPlayoff2223text{
        font-size: 12px;
    }
}

@media screen and (max-width: 1090px){
    #uefaChampionsLeague2223text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #uefaChampionsLeague2223text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #uefaChampionsLeague2223text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #uefaChampionsLeague2223text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #uefaEuropaConferenceLeague2223text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #uefaEuropaConferenceLeague2223text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #uefaEuropaConferenceLeague2223text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #uefaEuropaConferenceLeague2223text{
        font-size: 12px;
    }
}

/* Relegated and Promoted dropdowns resizing */
@media screen and (max-width: 590px) {
    #RelegatedTeamsDropdown2223Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #RelegatedTeamsDropdown2223Elements{
        font-size: 12px;
    }
}
@media screen and (max-width: 590px) {
    #PromotedTeamsDropdown2324Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #PromotedTeamsDropdown2324Elements{
        font-size: 12px;
    }
}

/* UEFA CHAMPIONS LEAGUE label */
@media screen and (max-width: 370px){
    #uefaChampionsLeague2223Label{
        font-size: 20px;
    }
}

/* UEFA EUROPA CONFERENCE LEAGUE label */
@media screen and (max-width: 400px){
    #uefaEuropaConferenceLeague2223Label{
        font-size: 20px;
    }
}
@media screen and (max-width: 350px){
    #uefaEuropaConferenceLeague2223Label{
        font-size: 18px;
    }
}

/* LIGA I 22-23 main round results table resizing */
@media screen and (max-width: 310px){
    #LigaI2223MainRoundTable{
        font-size: 15px;
    }
}

/* LIGA I 22-23 play-off round results table resizing */
@media screen and (max-width: 350px){
    #LigaI2223PlayOffTable{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px){
    #LigaI2223PlayOffTable{
        font-size: 13px;
    }
}






