*{
    margin: 0;
    padding: 0;
}
#seasonElements2021{
    background-image: linear-gradient( rgb(177, 44, 44) , rgb(141, 121, 125));
}
.CR2021Rounds{
    font-weight: 800;
}
.SCR21Round{
    font-weight: 800;
}
.LI2021TeamResults{
    font-weight: 800;
}
.UCHL2021Rounds{
    font-weight: 800;
}
.UEL2021Rounds{
    font-weight: 800;
}
.UEL2021TeamResults{
    font-weight: 800;
}
.pageBackground2021{
    background-image: linear-gradient(to right, rgb(177, 44, 44) , rgb(141, 121, 125));
}
.ChampionshipTable2021{
    height: 40%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.CupTable2021{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.SuperCupTable21{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.UefaChampLeagueTable2021{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.UefaEuropaLeagueTable2021{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}

#ligaI2021button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#ligaI2021button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#ligaI2021button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}

#ligaI2021text{
    color:aliceblue;
    font-size: 20px;
}

#cupaRomaniei2021button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#cupaRomaniei2021button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#cupaRomaniei2021button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#cupaRomaniei2021text{
    color:aliceblue;
    font-size: 20px;
}

#supercupaRomaniei21button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 90%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#supercupaRomaniei21button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#supercupaRomaniei21button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#supercupaRomaniei21text{
    color:aliceblue;
    font-size: 20px;
}
#uefaChampionsLeague2021button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaChampionsLeague2021button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaChampionsLeague2021button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}

#uefaChampionsLeague2021text{
    color:aliceblue;
    font-size: 20px;
}

#uefaEuropaLeague2021button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaEuropaLeague2021button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaEuropaLeague2021button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#uefaEuropaLeague2021text{
    color:aliceblue;
    font-size: 20px;
}
#seasonElements2021{
    display: flex;
    flex-direction: row;
}

#competitionsTable2021{
    display: flex;
    flex-direction: column;
}
#chooseCompetition2021Message{
    background-color: cadetblue;
    font-size: 30px;
    border: #1f1717;
    border-style:outset;
    margin-left: 0;
    height: 1cm;
    width: auto;
}
#buttonText{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#buttonTextCupaRomaniei2021{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#LigaI2021MainRoundResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 40%;
}
#LigaI2021MainRoundResultsButton:hover{
    cursor: pointer;
}
#LigaI2021PlayOffResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 40%;
}
#LigaI2021PlayOffResultsButton:hover{
    cursor: pointer;
}
#CupaRomaniei2021ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 55%;
}
#CupaRomaniei2021ResultsButton:hover{
    cursor: pointer;
}
#SupercupaRomaniei21ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 65%;
}
#SupercupaRomaniei21ResultsButton:hover{
    cursor: pointer;
}
#UefaChampionsLeague2021ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 65%;
}
#UefaChampionsLeague2021ResultsButton:hover{
    cursor: pointer;
}
#UefaEuropaLeague2021ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 50%;
}
#UefaEuropaLeague2021ResultsButton:hover{
    cursor: pointer;
}
table, th, tr, td{
    background-color: white;
    border: 1px solid blue;
    border-collapse: collapse;
}
#LigaI2021MainRoundTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#LigaI2021PlayOffTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#CupaRomaniei2021Table{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#SupercupaRomaniei21Table{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#UCHL2021Table{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#UefaEuropaLeagueTable2021{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#season2021buttons{
    margin-top: 0.5cm;
    background-color: #514e72;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 15cm;
    width: 28%;
    margin-left: 1cm;
    display: flex;
    flex-direction: column;
}
#competitionsTable2021{
    margin-top: 0.5cm;
    background-color: grey;
    margin-left: 1cm;
    width: 60%;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}
#RelegatedTeamsDropdown2021Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#RelegatedDropdown2021Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
#PromotedTeamsDropdown2122Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#PromotedDropdown2122Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
/* Competitions buttons container and competitons results presentation container resizing */
@media screen and (max-width: 800px){
    #seasonElements2021{
        flex-direction: column;
    }
}

/* Choose competition message resizing */
@media screen and (max-width: 585px){
    #chooseCompetition2021Message{
        height: 2cm;
    }
}
@media screen and (max-width: 305px){
    #chooseCompetition2021Message{
        height: 3cm;
    }
}

/* Competitions names from buttons resizing */
@media screen and (max-width: 965px){
    #ligaI2021text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #ligaI2021text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #ligaI2021text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #ligaI2021text{
        font-size: 14px;
    }
}
@media screen and (max-width: 965px){
    #cupaRomaniei2021text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #cupaRomaniei2021text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #cupaRomaniei2021text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #cupaRomaniei2021text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #supercupaRomaniei21text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #supercupaRomaniei21text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #supercupaRomaniei21text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #supercupaRomaniei21text{
        font-size: 12px;
    }
}
@media screen and (max-width: 1090px){
    #uefaChampionsLeague2021text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #uefaChampionsLeague2021text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #uefaChampionsLeague2021text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #uefaChampionsLeague2021text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #uefaEuropaLeague2021text{
        font-size: 18px;
        
    }
}
@media screen and (max-width: 870px){
    #uefaEuropaLeague2021text{
        font-size: 16px;
        
    }
}
@media screen and (max-width: 760px){
    #uefaEuropaLeague2021text{
        font-size: 14px;
        
    }
}
@media screen and (max-width: 410px){
    #uefaEuropaLeague2021text{
        font-size: 12px;
    }
}

/* Relegated and Promoted dropdowns resizing */
@media screen and (max-width: 590px) {
    #RelegatedTeamsDropdown2021Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #RelegatedTeamsDropdown2021Elements{
        font-size: 12px;
    }
}
@media screen and (max-width: 590px) {
    #PromotedTeamsDropdown2122Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #PromotedTeamsDropdown2122Elements{
        font-size: 12px;
    }
}

/* SUPERCUPA ROMANIEI label */
@media screen and (max-width: 350px) {
    #supercupaRomaniei21Label{
        font-size: 20px;
    }
}

/* UEFA CHAMPIONS LEAGUE label */
@media screen and (max-width: 370px){
    #uefaChampionsLeague2021Label{
        font-size: 20px;
    }
}

/* LIGA I 20-21 main round results table resizing */
@media screen and (max-width: 310px){
    #LigaI2021MainRoundTable{
        font-size: 13px;
    }
}

/* LIGA I 20-21 play-off round results table resizing */
@media screen and (max-width: 350px){
    #LigaI2021PlayOffTable{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px){
    #LigaI2021PlayOffTable{
        font-size: 13px;
    }
}
