*{
    margin: 0;
    padding: 0;
}
#seasonElements1213{
    background-image: linear-gradient( rgb(177, 44, 44) , rgb(141, 121, 125));
}
.CR1213Rounds{
    font-weight: 800;
}
.LI1213TeamResults{
    font-weight: 800;
}
.UCHL1213TeamResults{
    font-weight: 800;
}
.UCHL1213Rounds{
    font-weight: 800;
}
.UEL1213Rounds{
    font-weight: 800;
}
.pageBackground1213{
    background-image: linear-gradient(to right, rgb(177, 44, 44) , rgb(141, 121, 125));
}
.ChampionshipTable1213{
    height: 40%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.CupTable1213{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.UefaChampLeagueTable1213{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.UefaEuropaLeagueTable1213{
    height: 20%;
    width: 70%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1mm;
    border-color: brown;
}
.ChampDropdown1213{
    background-color: rgb(247, 195, 176);
}

#ligaI1213button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#ligaI1213button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#ligaI1213button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}

#ligaI1213text{
    color:aliceblue;
    font-size: 20px;
}

#cupaRomaniei1213button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 15mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#cupaRomaniei1213button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#cupaRomaniei1213button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#cupaRomaniei1213text{
    color:aliceblue;
    font-size: 20px;
}
#uefaChampionsLeague1213button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaChampionsLeague1213button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaChampionsLeague1213button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#uefaChampionsLeague1213text{
    color:aliceblue;
    font-size: 20px;
}
#uefaEuropaLeague1213button{
    margin-top: 1cm;
    margin-left: 0.3cm;
    background-image: linear-gradient(to right, #0f0453, darkslateblue);
    height: 20mm;
    width: 80%;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
    box-shadow: 0px 6px 5px #751818;
}
#uefaEuropaLeague1213button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
#uefaEuropaLeague1213button:active{
    box-shadow: 0px 1px 5px #751818;
    transform: translateY(8px);
    transition: transform .2s;
}
#uefaEuropaLeague1213text{
    color:aliceblue;
    font-size: 20px;
}
#seasonElements1213{
    display: flex;
    flex-direction: row;
}

#competitionsTable1213{
    display: flex;
    flex-direction: column;
}
#chooseCompetition1213Message{
    background-color: cadetblue;
    font-size: 30px;
    border: #1f1717;
    border-style:outset;
    margin-left: 0;
    height: 1cm;
    width: auto;
}
table, th, tr, td{
    background-color: white;
    border: 1px solid blue;
    border-collapse: collapse;
}
#buttonText{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#buttonTextCupaRomaniei1213{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#uefaChampionsLeague1213buttonText{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
#LigaI1213MainRoundResultsTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#CupaRomaniei1213ResultsTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#UefaChampionsLeague1213ResultsTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#UefaEuropaLeague1213ResultsTable{
    position: absolute;
    width: 30%;
    border-width: 1px;
}
#LigaI1213MainRoundResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 40%;
}
#LigaI1213MainRoundResultsButton:hover{
    cursor: pointer;
}
#CupaRomaniei1213ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 55%;
}
#CupaRomaniei1213ResultsButton:hover{
    cursor: pointer;
}
#UefaChampionsLeague1213ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 65%;
}
#UefaChampionsLeague1213ResultsButton:hover{
    cursor: pointer;
}
#UefaEuropaLeague1213ResultsButton{
    background-image: linear-gradient(to right,rgb(223, 56, 56), rgb(235, 148, 148));
    margin-left: 0cm;
    width: 50%;
}
#UefaEuropaLeague1213ResultsButton:hover{
    cursor: pointer;
}
#season1213buttons{
    margin-top: 0.5cm;
    background-color: #514e72;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 12cm;
    width: 28%;
    margin-left: 1cm;
    display: flex;
    flex-direction: column;
}
#competitionsTable1213{
    margin-top: 0.5cm;
    background-color: grey;
    margin-left: 1cm;
    width: 60%;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}

#RelegatedTeamsDropdown1213Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#RelegatedDropdown1213Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
#PromotedTeamsDropdown1314Elements{
    position: absolute;
    border-style: groove;
    border-color: #1f1717;
    width: 35%;
    font-size: 18px;
}
#PromotedDropdown1314Button{
    color: rgb(54, 51, 51);
    font-size: 14px;
    font-weight: 700;
    width: 35%;

}
/* Competitions buttons container and competitons results presentation container resizing */
@media screen and (max-width: 800px){
    #seasonElements1213{
        flex-direction: column;
    }
}
/* Choose competition message resizing */
@media screen and (max-width: 585px){
    #chooseCompetition1213Message{
        height: 2cm;
    }
}
@media screen and (max-width: 305px){
    #chooseCompetition1213Message{
        height: 3cm;
    }
}

/* Competitions names from buttons resizing */
@media screen and (max-width: 965px){
    #ligaI1213text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #ligaI1213text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #ligaI1213text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #ligaI1213text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #cupaRomaniei1213text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #cupaRomaniei1213text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #cupaRomaniei1213text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #cupaRomaniei1213text{
        font-size: 12px;
    }
}
@media screen and (max-width: 1090px){
    #uefaChampionsLeague1213text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #uefaChampionsLeague1213text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #uefaChampionsLeague1213text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #uefaChampionsLeague1213text{
        font-size: 12px;
    }
}
@media screen and (max-width: 965px){
    #uefaEuropaLeague1213text{
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    #uefaEuropaLeague1213text{
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    #uefaEuropaLeague1213text{
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    #uefaEuropaLeague1213text{
        font-size: 12px;
    }
}

/* Relegated and Promoted dropdowns resizing */
@media screen and (max-width: 590px) {
    #RelegatedTeamsDropdown1213Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #RelegatedTeamsDropdown1213Elements{
        font-size: 12px;
    }
}
@media screen and (max-width: 590px) {
    #PromotedTeamsDropdown1314Elements{
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    #PromotedTeamsDropdown1314Elements{
        font-size: 12px;
    }
}

/* UEFA CHAMPIONS LEAGUE label */
@media screen and (max-width: 360px){
    #uefaChampionsLeague1213Label{
        font-size: 20px;
    }
}

/* LIGA I 12-13 results table resizing */
@media screen and (max-width: 310px){
    #LigaI1213MainRoundResultsTable{
        font-size: 15px;
    }
}
